.course-detials-container {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.course-detials-container .detials-header {
  margin-bottom: 10px;
}
.course-detials-container .data-table {
  padding: 20px;
}
table,
tr:not(:first-child),
td {
  border-bottom: 2px solid #0000001c;
  border-collapse: collapse;
}
table {
  width: 100%;
  min-height: 25vh;
  text-align: left;
}
.delet:hover{
  color: black;
}
.edit:hover {
  color: black;
}
