.table-title {
  display: inline-block;
  margin: 20px 20px 10px 0;
}

.button-fix-margin {
  margin-bottom: 15px;
}
.w3-table {
  margin-right: 20px;
}
.w3-teal {
  font-size: 15px;
}

td {
  font-size: 15px;
  font-weight: 600;
  color: rgb(229, 103, 13);
}
tr:nth-child(2n) {
  background-color: rgb(239, 243, 150);
}
