@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Inter";
}

nav {
  width: 100%;
  /* background:  rgb(42 157 143); */
  background: #dcd3ea;
  padding: 0 20px;
  position: fixed;
}
nav .container {
  height: 60px;
  overflow: hidden;
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .container button {
  height: fit-content;
  padding: 5px 10px;
  color: #12366c;
  border: none;
  background: transparent;
  font-size: 15px;
  font-weight: 500;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #e919dc;
}
nav .container button:hover {
  color: #f3f7f8;
  background: #d966d1;
  /* border: rgb(255, 0, 217); */
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 500;
}
nav .hamburger {
  display: none;
}
@media (max-width: 1520px) {
  nav .container {
    min-width: 100%;
  }
}
@media (max-width: 1130px) {
  /* .page {
    padding-top: 120px;
  } */
  nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
  }
  nav .container {
    align-items: center;
  }
}
@media (max-width: 490px) {
  nav .menu {
    width: 100%;
  }
}
.footerShow {
  overflow: hidden;
  background: #11101d;
  display: flex;
  justify-content: space-between;
  padding: 25px 120px;
  align-items: center;
}
.footerShow div {
  overflow: hidden;
  display: flex;
  gap: 12px;
  font-size: 16px;
  color: #f1f3f6;
}
.footerShow div a {
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  color: #f1f3f6;
}
.footerShow div a:hover {
  color: #ffffff;
  transform: scale(1.3);
  transition: all 0.3s;
}
.footerHide {
  display: none;
}
@media (max-width: 830px) {
  .footerShow {
    padding: 25px 45px;
  }
}
@media (max-width: 550px) {
  .footerShow {
    flex-direction: column-reverse;
    gap: 25px;
    text-align: center;
  }
}
.navbarHide,
.sidebarHide {
  display: none;
}
.notfound {
  min-height: 750px;
}
.notfound .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notfound .content a {
  font-size: 20px;
  font-weight: 500;
  padding: 7px 30px;
  background: transparent;
  border: 1px solid #184235;
  color: #184235;
  text-decoration: none;
}
.notfound .content a:hover {
  background: #184235;
  transition: all 0.3s;
  color: #f1f3f6;
}

/* --------------Carousel---------- */
.banner {
  --d: 10s;
  display: grid;
  width: 220px;
  width: 40%;
  padding: 6%;
  margin-right: 12%;
  margin-top: 10%;
}

.banner > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
}

.banner img:last-child {
  animation-name: slide, z-order-last;
}

.banner > img:nth-child(1) {
  animation-delay: calc(0 * var(--d));
  --r: 9deg;
}

.banner > img:nth-child(2) {
  animation-delay: calc(-0.2 * var(--d));
  --r: 19deg;
}

.banner > img:nth-child(3) {
  animation-delay: calc(-0.4 * var(--d));
  --r: -17deg;
}

.banner > img:nth-child(4) {
  animation-delay: calc(-0.6 * var(--d));
  --r: 6deg;
}

.banner > img:nth-child(5) {
  animation-delay: calc(-0.8 * var(--d));
  --r: -1deg;
}

@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }
  0%,
  100%,
  20% {
    transform: translateX(0%) rotate(var(--r));
  }
}
@keyframes z-order {
  10%,
  20% {
    z-index: 1;
  }
  80% {
    z-index: 2;
  }
}
@keyframes z-order-last {
  10%,
  20% {
    z-index: 1;
  }
  90% {
    z-index: 2;
  }
}
/* ----------------Register---------------------- */

.authPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 80px;
}
.authPage .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
  /* height: 100vh; */
}
.authPage .container .header {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.authPage .container .header h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
.authPage .container .header img {
  width: 300px;
  height: 120px;
  margin: 0 auto;
}
.authPage .container .header {
  text-align: center;
  margin-bottom: 10px;
  padding-right: 10%;
}
.authPage .container form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border: 3px solid black;
}

form label {
  color: #d4d5e3;
}

.inputTag div select option {
  background-color: #b8bfff;
  color: #000000;
}

.inputTag input::placeholder {
  color: #0d3262;
}

.authPage .container form .inputTag {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.authPage .container form .inputTag div {
  display: flex;
  align-items: center;
  border-radius: 7px;
}
.authPage .container form .inputTag div input,
.authPage .container form .inputTag div select {
  background: #3784bb78;
  padding: 8px;
  border: 1px solid;
  width: 100%;
  height: 100%;
}
.authPage .container form .inputTag div input:focus,
.authPage .container form .inputTag div select:focus {
  outline: none;
  border-color: #095b50;
  box-shadow: 0 10px #0d554e;
}
.authPage .container form .inputTag div svg {
  width: 10%;
  font-size: 1.5rem;
  background: #465965;
  height: 100%;
  padding: 8px;
  color: #fff;
}
.authPage .container form button {
  padding: 12px;
  cursor: pointer;
  text-align: center;
  border: none;
  margin-top: 25px;
  font-weight: 700;
  color: #fff;
  background: #2e9cff;
  font-size: 1.2rem;
  border-radius: 7px;
}
.authPage .container form a {
  padding: 12px;
  text-align: center;
  border: 1px solid #000000;
  margin-top: 25px;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
  background: #2e9cff;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 7px;
}

@media (max-width: 1520px) {
  .authPage {
    min-width: 100%;
    padding: 0px;
  }
}
@media (max-width: 830px) {
  .authPage {
    min-height: 100vh;
    height: auto;
  }
  .authPage .container {
    flex: none;
    width: 100%;
    justify-content: flex-start;
    padding: 40px 20px;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
      2px 2px 10px #00000080, 2px 2px 3px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080;
  }
  .authPage .banner {
    flex: none;
    display: none;
  }
}

/*---------------------- Admin--------------- */

.adminPage,
.coursePage,
.allsubject,
.subjectAllocation,
.teacherdetials {
  margin: 60px 0px 0px 79px;
  padding: 20px;
  min-height: 90vh;
  background-color: rgb(196 194 233 / 29%);
}
.coursePage,
.allsubject,
.subjectAllocation {
  display: flex;
  justify-content: space-between;
}

/* ---------------------- Teacher --------------------- */

.teacherData {
  margin: 60px 0px 0px 79px;
  padding: 20px;
  min-height: 90vh;
  background-color: rgb(196 194 233 / 29%);
}

/* ===============================Toaster Modified===================== */
.go1579819456 {
  overflow: hidden;
}
.go3958317564 {
  overflow: hidden;
}

/* ==============================Responsive============================ */

@media only screen and (max-width: 600px) {
  .coursePage,
  .subjectAllocation,
  .allsubject {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px), (max-width: 940px) {
  .coursePage,
  .subjectAllocation,
  .allsubject {
    display: flex;
    flex-direction: column;
  }
}
