@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Inter";
}

nav {
  width: 100%;
  /* background:  rgb(42 157 143); */
  background: #ff68de;
  padding: 10px 40px 10px 20px;
  position: fixed;
  z-index: 20;
  display:flex ;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
nav .logo{
  display: flex;
  align-items: center;
  font-size: x-large;
  color: white;
  gap: 10;
  justify-content: space-between;
  width: 220px;
}

nav .container button {
  height: fit-content;
  padding: 5px 15px;
  color: #12366c;
  border: none;
  background: transparent;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
  border: 2px solid #ffffff;
}
nav .container button:hover {
  color:black;
  /* background: #f483ec; */
  border-color: #dcd3ea;
  /* border: rgb(255, 0, 217); */

  cursor: pointer;
  font-weight: 500;
}
.sidebar{
  padding: 50px 20px 0px 20px;
  overflow: hidden;
  background-color: aqua;
  height: 100%;
  position: fixed;
  z-index: 8;
  width: 250px;
  background: #ff68de;
  transition: all 0.3s ease;
  /* translate: -250px; */
}
.sidebarClose{
  transform: translateX(-100%);
}
.sidebarOpen{
  transform: translateX(0);
}

.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 30px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  background: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 1;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
}


.footerShow {
  overflow: hidden;
  background: #f6abe5;
  display: flex;
  z-index: 40;
  justify-content: space-between;
  padding: 25px 120px;
  align-items: center;
}
.footerShow div {
  overflow: hidden;
  display: flex;
  gap: 12px;
  font-size: 16px;
  color: #f1f3f6;
}
.footerShow div a {
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  color: #f1f3f6;
}
.footerShow div a:hover {
  color: #ffffff;
  transform: scale(1.3);
  transition: all 0.3s;
}
.footerHide {
  display: none;
}
@media (max-width: 830px) {
  .footerShow {
    padding: 25px 45px;
  }
}
@media (max-width: 550px) {
  .footerShow {
    flex-direction: column-reverse;
    gap: 25px;
    text-align: center;
  }
}
.navbarHide,
.sidebarHide {
  display: none;
}
.notfound {
  min-height: 100vh;
}
.notfound .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notfound .content a {
  font-size: 20px;
  font-weight: 500;
  padding: 7px 30px;
  background: transparent;
  border: 1px solid #184235;
  color: #184235;
  text-decoration: none;
}
.notfound .content a:hover {
  background: #184235;
  transition: all 0.3s;
  color: #f1f3f6;
}

/* --------------Carousel---------- */
.banner {
  --d: 10s;
  display: grid;
  width: 220px;
  width: 40%;
  border-radius: 10px;
  padding: 6%;
  overflow: hidden;
  
}

.banner > img {
  grid-area: 1/1;
  width: 100%;
  /* aspect-ratio: 1; */
  object-fit: cover;
  border: 6px solid #fb76de89;
  /* box-shadow: rgba(248, 71, 242, 0.948) 0px -50px 36px -28px inset; */
  border-radius: 20px;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
}

.banner img:last-child {
  animation-name: slide, z-order-last;
}

.banner > img:nth-child(1) {
  animation-delay: calc(0 * var(--d));
  --r: 9deg;
}

.banner > img:nth-child(2) {
  animation-delay: calc(-0.2 * var(--d));
  --r: 19deg;
}

.banner > img:nth-child(3) {
  animation-delay: calc(-0.4 * var(--d));
  --r: -17deg;
}

.banner > img:nth-child(4) {
  animation-delay: calc(-0.6 * var(--d));
  --r: 6deg;
}

.banner > img:nth-child(5) {
  animation-delay: calc(-0.8 * var(--d));
  --r: -1deg;
}

@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }
  0%,
  100%,
  20% {
    transform: translateX(0%) rotate(var(--r));
  }
}
@keyframes z-order {
  10%,
  20% {
    z-index: 1;
  }
  80% {
    z-index: 2;
  }
}
@keyframes z-order-last {
  10%,
  20% {
    z-index: 1;
  }
  90% {
    z-index: 2;
  }
}
/* ----------------Register---------------------- */

.authPage {
  display: flex;
  width: 100%;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
}
.authPage .container {
      display: flex;
      justify-content: center;
      padding: 10px;
      width: 50%;
}

.header h3{
  -webkit-text-stroke: 1px white;
  color:transparent;
  font-size: 40px;
  
}
.authPage .container form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  background-color: transparent;
  box-shadow: rgb(240, 153, 250) 3px 3px 6px 0px inset, rgba(230,77,246,1) -3px -3px 6px 1px inset;
}

.authPage .container form input:focus,
.authPage .container form select:focus {
  border: 1px solid #ffffff !important;
}

form label {
  color: #000000 !important;
  font-weight: 700;
}
.inputTag div select{
  color: rgb(192, 187, 187);
}
.inputTag div select option {
  color: #000000;
}


.inputTag input::placeholder {
  color: rgb(192, 187, 187);
}

.authPage .container form .inputTag {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.authPage .container form .inputTag div {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 0px;
}
.authPage .container form .inputTag div input,
.authPage .container form .inputTag div select {
  padding: 10px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 100%;
}
.authPage .container form .inputTag div input:focus,
.authPage .container form .inputTag div select:focus {
  outline: none;
  box-shadow: 0 10px #e88bf0;
  background: white;
}
.authPage .container form .inputTag div svg {
  width: 12%;
  font-size: 1.5rem;
  background: #DB57FF;
  height: 100%;
  padding: 7px;
  color: #fff;
}
.authPage .container form button {
  padding: 12px;
  width: 75%;
  cursor: pointer;
  text-align: center;
  border: none;
  margin-top: 25px;
  font-weight: 700;
  color: black;
  background: white;
  font-size: 1.2rem;
  border: 1px solid white;
  border-top-left-radius:25px ;
  border-bottom-right-radius:25px ;
  transition: all 0.3s;
}
.authPage .container form a {
  cursor: pointer;
  text-align: center;
  border: none;
  margin-top: 25px;
  font-weight: 700;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s;
}
.authPage .container form button:hover{
  background: transparent;
  border-color: white;
  color:white;
}
.authPage .container form a:hover{
  color: black;
}

@media (max-width: 1520px) {
  .authPage {
    min-width: 100%;
    padding: 0px;
  }
}
@media (max-width: 830px) {
  .authPage {
    min-height: 100vh;
    height: auto;
  }
  .authPage .container {
    flex: none;
    width: 100%;
    justify-content: flex-start;
    padding: 40px 20px;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
      2px 2px 10px #00000080, 2px 2px 3px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080;
  }
  .authPage .banner {
    flex: none;
    display: none;
  }
}

/*---------------------- Admin--------------- */

.adminPage,
.homePage,
.coursePage,
.allsubject,
.subjectAllocation,
.teacherdetials,
.adminDetials,.teacherProfile {
  margin: 55px 0px 0px 0px;
  padding: 0px 20px 20px 20px;
  min-height: 92vh;
  /* background-color: rgb(196 194 233 / 29%); */
  background: #FDEFFD;
}
.coursePage,
.allsubject,
.subjectAllocation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ---------------------- Teacher --------------------- */

.teacherData {  
  margin: 55px 0px 0px 0px;
  min-height: 50vh;
  padding: 20px;
  min-height: 90vh;
  background: #FDEFFD;
}

/* ===============================Toaster Modified===================== */
.go1579819456 {
  overflow: hidden;
}
.go3958317564 {
  overflow: hidden;
}

/* ==============================Responsive============================ */

@media only screen and (max-width: 600px) {
  .coursePage,
  .subjectAllocation,
  .allsubject {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px), (max-width: 940px) {
  .coursePage,
  .subjectAllocation,
  .allsubject {
    display: flex;
    flex-direction: column;
  }
}
